/* $Id: default.css,v 1.1 2006/07/28 18:27:55 Moritz.Ringler Exp $
 * (c) Moritz Ringler, 2003-2004
 * CSS style sheet for html created with XSLT from bibxml
 */
body {
   background: rgb(224,238,238);
}
div.bibtexml-output p {
  margin: 0px;
  padding: 0px;
  width: 40em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
address {
  margin-top: 2em;
}
table {
  empty-cells: show;
  width: 100%;
}
th {
  text-align: left;
  font-size: 10pt;
  font-family: Helvetica, Arial, sans-serif;
}
td {
  text-align:left;
  vertical-align:top;
  font-size: 10pt;
  font-family: Helvetica, Arial, sans-serif;
  padding: 6pt;
  border-top: solid silver 1px
}
td.author {
  width: 10em;
}
td.citekey {
 width: 5em;
}
td.ref {
  width: 20em;
}
td.year {
  width: 3em;
}
td.title{
  cursor:pointer;
}
span.vol {
  font-weight:bold
}
.abstract{
    padding:5pt;
    background-color:#ffffff;
    font-family: Palatino, serif;
    font-size: 10pt;
    font-style: oblique;
}
