body {
  margin: auto;
  width: 720px;
  background-color: #E5F1F4;
  background-image: url(bibtexml-stripes.png);
  background-position: top center;
  background-repeat: no-repeat;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 10pt;
  color: black;
  margin-top: 0px; padding-top: 90px;
  padding-bottom: 3em;
}
a { text-decoration:none; border-bottom: 1px dotted lightgrey; }
a:link, a:visited { color: #2E8696; }
a:hover { text-decoration: none; border-bottom: 1px dotted transparent; }
p, address {
  margin-bottom: 0em;
  margin-top: .5em;
}
address {
  margin-top: 2em;
  font-size: 8pt;
}
p#sflogo { margin-top: 2em; }
td#contact { width: 360px; }
tt, pre { font-size: 8.5pt; }

div { width: 560px; }
div.menu {
  width: 600px;
  background-color: #433C2A;
  font-size: 8pt;
  line-height: 1.4em;
  margin: 0px;
  padding: 0px;
}
div.menu p {
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
  padding-top: 2px;
  padding-bottom: 1px;
}
div.menu a, div.menu a:link, div.menu a:visited {
  padding-right: 1.5em;
  text-decoration: none;
  font-weight: normal;
  color: #d0c8b7;
  border: 1px solid transparent;
}
div.menu a#current { border: 1px solid transparent; }
div.menu a:hover { border: 1px solid ##d0c8b7; }
div.menu a:hover#current { border: 1px solid transparent; }

pre { margin: 0px; padding: 0px; }

div.bibtexml-output p a { color: black; text-decoration: none; }
div.bibtexml-output p a:hover { text-decoration: underline; }
p#bibtexml-reference { font-size: 8pt; text-align: right; }
