body {
  background-color: rgb(218,227,235);
  background-image: url(bibtexml-stripes.png);
  background-position: top left;
  background-repeat: no-repeat;
  font-family: "trebuchet ms", sans-serif;
  font-size: 10pt;
  padding-top: 120px;
  padding-left: 40px;
  padding-bottom: 3em;
}
div.bibtexml-output { max-width: 40em; }
div.bibtexml-output p {
  margin: 0px;
  padding: 0px;
  margin-top: .2em;
}
a:link, a:visited { color: rgb(78,118,152); }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
address {
  font-size: 8pt;
  margin-top: 2em;
}
